{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} IEvent</title>
    <link rel="stylesheet" href="/static/css/base.css">
    {% block head %}{% endblock head %}
</head>
<body style="background-color:#f5f5f5">
    <nav style="background-color:#fff">
        <div class="left_content">
            <img src="/static/images/logo1.png" alt="">
            <h1 class="navbar-logo"><a href="/fests">iEvent</a></h1>
        </div>
        <ul class="nav_links">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/auth/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/getregevent">RegEvents</a>
            </li>
            {% if user.profile.isCordinator %}
            <li class="nav-item">
                <a class="nav-link" href="/cordinator">Coordinator Panel</a>
            </li>
            {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/auth/signup">Signup</a>
                </li>
            {% endif %}
        </ul>
        </div>
      </nav>
    
    {% block body %}{% endblock body %}
    {% block js %}{% endblock js %}
</body>
</html>