{% extends "../BaseHtml/base.html" %}
{% load static %}
{% block title %}
IEvent|Fests
{% endblock title %}
{% block head %}
{% comment %} <link rel="stylesheet" href="/static/css/fests.css"> {% endcomment %}
{% endblock head %}
{% block body %}

<form method="POST" enctype="multipart/form-data" class="noteform">
    {% csrf_token %}
    <label for="">Fest Name</label>
    <input type="text" name="fest_name">
    <label for="">Venue</label>
    <input type="text" name="venue">
    <label for="">Upload image</label>
    <input type="file" name="myfile">
    <button type="submit">Submit</button>
</form>
{% endblock body %}