{% extends "../BaseHtml/base.html" %}
{% load static %}
{% block title %}
IEvent|Fests
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock head %}
{% block body %}
<div class="contents">
    <p>
    <form class="login">
        <img src="/static/images/face.png"><br>
        <input class="txt" type="text" placeholder="Username/Email"><br>
        <input class="txt" type="password" placeholder="Password"><br>
        <h3><a href="#"><u>forgot password?</u></a><br></h3>
        <button>Login</button><br>
        <h3>Don't have an account?&nbsp<a href="#"><u>Sign Up</u></a></h3>
    </form>
    </p>
</div>
{% endblock body %}

