{% extends "../BaseHtml/base.html" %}
{% load static %}
{% block title %}
IEvent|Fests
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/login.css">
{% endblock head %}
{% block body %}
<div class="contents">
    <form class="login" method='POST'>
        {% csrf_token %}
        <img src="/static/images/userreg/face.png">
        <input class="txt" type="text" placeholder="Username/Email" name="username" required=true>
        <input class="txt" type="password" placeholder="Password" name="password" required=true>
        <button>Login</button>
        <h3 style="margin-top:10px">Don't have an account?&nbsp<a href="/auth/signup"><u>Sign Up</u></a></h3><br>
        <div class="form-group">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert" style="margin-bottom: 0px;">
                {{message}}
            </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock body %}

