{% extends "../BaseHtml/base.html" %}
{% load static %}
{% block title %}
IEvent|add fest
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock head %}
{% block body %}
<div class="welcome_page_container">
    <div class="welcome_hero_container">
        
        <div class="welcome_desc">
            <div class="platform_details">
                <div class="title">
                    <span>College <br> Event Portal</span>
                </div>
                <div class="platform_description">
                    <span>Welcome to EventHuB, your number one portal for creating and registering for an event.
                        We're dedicated to providing you the best of this product, with a focus on dependability and customer service.
                        We hope you enjoy our event portal as much as we enjoy offering them to you.
                    </span>
                </div>
                <div class="get_started_btn">
                    <a href="/fests"><button>Get Started</button></a>
                </div>
            </div>
            <div class="welcome_img">
                <img src="/static/images/home_img2.png" alt="">
            </div>
        </div>
    </div>
    <div class="features_container">
        <h1 className="feature_title">Features</h1>
        <div class="feature_cards">
            <div class="feature_card_item">
                <h3>Event Registration</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quam reprehenderit aliquid nobis magni saepe aperiam, distinctio quas excepturi iure.</p>
            </div>
            <div class="feature_card_item">
                <h3>Payment Integration</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quam reprehenderit aliquid nobis magni saepe aperiam, distinctio quas excepturi iure.</p>
            </div>
            <div class="feature_card_item">
                <h3>Event Tracking</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quam reprehenderit aliquid nobis magni saepe aperiam, distinctio quas excepturi iure.</p>
            </div>
            <div class="feature_card_item">
                <h3>Hosting Fests & Events</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quam reprehenderit aliquid nobis magni saepe aperiam, distinctio quas excepturi iure.</p>
            </div>
            <div class="feature_card_item">
                <h3>Track Event Participation</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quam reprehenderit aliquid nobis magni saepe aperiam, distinctio quas excepturi iure.</p>
            </div>
            <div class="feature_card_item">
                <h3>Get Email Schedules</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quam reprehenderit aliquid nobis magni saepe aperiam, distinctio quas excepturi iure.</p>
            </div>
        </div>
    </div>
    <div class="about_container">
        <div class="about_contents">
            <img src="/static/images/aboutimg.png" alt="">
            <div class="about_details">
                <h2>About our Platform</h2>
                <p>We're dedicated to providing you the best of this product, with a focus on dependability and customer service.We hope you enjoy our event portal as much as we enjoy offering them to you.EventHuB helps you organize and manage your events and fest. Let us help you create.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_contents">
            <p>Made with love by Ajay Antu</p>
        </div>
    </div>
</div>
{% endblock body %}
    