.events_container img{
    width: 100%;
    max-width: 300px;
}
.events_main_container img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
    object-position: center;
}
.events_container{
    display: flex;
    align-items: center;
}
.events_container .event_item{
    display: flex;
    flex-direction: column;
}