{% extends "../BaseHtml/base.html" %}
{% load static %}
{% block title %}
IEvent|Registered Events
{% endblock title %}
{% block head %}
{% comment %} <link rel="stylesheet" href="/static/css/events.css"> {% endcomment %}
{% endblock head %}
{% block body %}
<div class="regevents_main_container">
    <div class="regevents_container" style="margin:100px">
        {% for eve in reg %}
        <div class="regevent_item">
            {{eve.event.event_name}}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
