{% extends "../BaseHtml/base.html" %}
{% load static %}
{% block title %}
IEvent|Fests
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/css/events.css">
{% endblock head %}
{% block body %}
<div class="events_main_container">
    <img src="/media/{{fest_poster}}" alt="">
    <h3>Events</h3>
    <div class="events_container">
        <div class="grid">
        {% for event in events %}
        
            <div class="grid__item" style="overflow-x:auto;">
              <div class="card"><img class="card__img" src="/media/{{event.event_img}}" alt="Snowy Mountains">
                <div class="card__content">
                  <h1 class="card__header">{{event.event_name}}</h1>
                  <h1 class="card__header event_price">$ {{event.event_price}}</h1>
                  <a href="/regevent/{{event.id}}"><button class="card__btn">Details</button></a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock body %}
